body {
  background-color: black;
}
.header-style {
  background-color: black;
}

.header-content-style span {
  font-weight: bold;
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-image {
  height: 50px;
  width: 150px;
}

.giphy-view {
  height: 470px;
  overflow-y: auto;
}

.search-bar {
  height: 30px;
  display: inline;
}

.search-input {
  width: 94%;
  height: 30px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  padding: 10px;
  border: solid 1px #707070;
}

.search-button {
  width: 6%;
  height: 30px;
}

.search-input:focus, .search-button:focus {
  outline:none;
}

.search-contents {
  padding: 0px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid {
  max-width: 468px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  width: 150px;
  float: left;
  margin-bottom: 10px;
}

.giphy-image {
  width: 150px;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.help-text{
  color: white;
  background:rgba(255,255,255,0.1);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.help-text span {
  position: relative;
  left: 80px;
}

.show-div {
  display: none;
}

.snackbar {
  width:200px;
  height:20px;
  height:auto;
  position:absolute;
  left:50%;
  margin-left:-100px;
  bottom:10px;
  background-color: #383838;
  color: #F0F0F0;
  font-family: Calibri;
  font-size: 20px;
  padding:10px;
  text-align:center;
  border-radius: 2px;
  -webkit-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  -moz-box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
  box-shadow: 0px 0px 24px -1px rgba(56, 56, 56, 1);
}

/*
Loader css
*/

.load8 {
  position: fixed;
  z-index: 1;
  left: 200px;
}

.loader {
  margin: 60px auto;
  top: 120px;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}